<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>说明文档</title>
</head>
<body>
    <h1>欢迎使用本程序</h1>
    <p>这是一份说明文档，用于介绍本程序的使用方法。</p>
    <p>本程序可以从浏览器上传一个Excel数据文件和一个Word模板文件，并将Excel文件中的数据自动填充到Word模板文件的指定位置，并以Excel文件中第一列的内容作为word文件的文件名，
        最终将所有新生成的word文件打包成 "结果.zip" 供用户下载。</p>
    <p>您可以按照以下步骤来使用本程序：</p>
    <ol>
        <li>首先根据需要制作Excel数据文件和一个Word文件模板，其中excel文件中第一列为新生成的word文件的文件名，后面每一列的第一行内容填写到word模板中对应的位置。
            Excel数据文件和word模板文件的制作参考网页自带例子的文件。注意：excel表格中第一列列名“文件名”作为程序识别不要修改。</li>
        <li>打开浏览器，输入服务器的IP地址和端口号，进入程序首页。如： http://192.168.20.118:5000</li>
        <li>点击“选择文件”按钮，选择要上传的Excel数据文件和Word模板文件。</li>
        <li>点击“生成”按钮，等待程序处理完成。</li>
        <li>下载生成后的Word文件压缩包。</li>
    </ol>
</body>
</html>
