<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>说明文档</title>
</head>
<body>
    <h1>欢迎使用本程序</h1>
    <p>使用步骤：</p>
    <ol>
        <li>首先根据需要制作Excel数据文件和一个Word文件模板。其中excel文件中需要有一列为新生成的word文件的文件名，列名为"文件名"，将其他列列名填写到word模板中对应位置。
            Excel数据文件和word模板文件的制作可参考网页自带例子的文件。</li>
        <li>打开浏览器，输入程序网址如： http://192.168.20.118:5000，进入程序首页。</li>
        <li>点击“选择文件”按钮，选择要上传的Excel数据文件和Word模板文件。</li>
        <li>点击“生成”按钮，等待程序处理完成后下载"结果.zip"文件。</li>
    </ol>
    <p></p>
    <p>注意：Excel表格中第一行是列名，列名应不重复。Excel表格中第一列列名“文件名”作为程序输出文件的文件名列不要修改。</p>
</body>
</html>
