<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>说明文档</title>
</head>
<body>
    <h1>欢迎使用本程序</h1>
    <p>这是一份说明文档，用于介绍本程序的使用方法。</p>
    <p>本程序可以从浏览器上传一个Excel文件和一个Word文件，并将Excel文件中的数据渲染到Word文件的指定位置，最终将渲染后的Word文件下载到本地。</p>
    <p>您可以按照以下步骤来使用本程序：</p>
    <ol>
        <li>打开浏览器，输入服务器的IP地址和端口号，进入程序首页。</li>
        <li>点击“选择文件”按钮，选择要上传的Excel文件和Word文件。</li>
        <li>填写Excel文件中需要替换的内容和对应的替换值。</li>
        <li>点击“提交”按钮，等待程序处理完成。</li>
        <li>下载渲染后的Word文件。</li>
    </ol>
</body>
</html>
